<%- include('partials/header') %>

<div class="flex-between">
    <h1>Students List</h1>
    <% if (admin) { %>
        <a href="/students/new" class="btn btn-primary">+ Add New Student</a>
    <% } %>
</div>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><a href="/students/<%= student.student_id %>">#<%= student.student_id %></a></td>
                    <td style="font-weight: 500;"><%= student.name %></td>
                    <td><%= student.age %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('partials/footer') %>
